.form input{
    margin-top: 400px;
    border: 1px solid transparent;
    background-color: teal;
    margin: 3% ;
    font-size: 20px;
    border-radius: 6px;
    color: white;
    padding: 4px;
    width: 20%;
    position: absolute;
    left: 28.3%;
    top: 15%;
    border-color: transparent;
    box-shadow: 2px 4px indigo;
    
}
.form ::placeholder{
    color: rgba(230, 224, 224, 0.842);
    font-size: smaller;
}
.in{
    position: absolute;
    left: 53%;
    top: 23%;
}
.btn {
    background-color: teal;
    position: absolute;
    left: 55%;
    width: 13.7%;
    top: 21.5%;
    padding: 8px;
    color: rgba(185, 158, 5, 0.658);
    border-radius: 3px;
    box-shadow: 2px 4px indigo;
}
